# Ignore dataset subfolders we don't want in Git
/datasets/alphabets/
/datasets/numbers/
/datasets/wlasl/

# Ensure the CSV we want stays tracked
!/datasets/phrase_landmarks.csv

# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/
.venv*/
venv/
env/
ENV/
.env
