# Computer Vision
opencv-python
mediapipe>=0.10.30

# Deep Learning
tensorflow
torch
torchvision

# Data
numpy
pandas
scikit-learn==1.6.1

# LLM + Translation
anthropic
deep-translator

# App
streamlit

# Utilities
matplotlib
kaggle
tqdm
Pillow
